*.lnk
*.zip
*.png
*.jpg
*.rom
*.img
*.gif
*.bin
*.url
*.srm
*.sav
*.state
*.rtc

**/splashscreens
**/overlay
**/_Hold
**/pc-files

#/roms/ports/
#!/roms/ports/*.sh

**/baldurs1/
**/baldurs2/
**/cache/
**/icewind1/
**/icewind2/
**/planescape/
