*.lnk
*.zip
*.png
*.jpg
*.rom
*.img
*.gif
*.bin
*.url
*.srm
*.sav
*.state
*.rtc

**/splashscreens
**/overlay
**/_Hold
**/pc-files

!/roms/ports/
/roms/ports/**
!/roms/ports/*.sh

!/roms/scummvm/
/roms/scummvm/**
!/roms/scummvm/*.sh
!/roms/scummvm/*.svm